/* <!-- Recent Projects --> */
.projects {
  padding-bottom: 140px;
  }
  
  .projects-boxs{
    display: flex;
  }
  
  .projects-title {
    text-align: center;
    font-size: 47px;
    line-height: 1.3;
    letter-spacing: 0.22px;
    width: 331px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .projects-txt {
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  width: 786px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 71px;
  }
  
  .projects-items {
  display: flex;
  flex-wrap: wrap;
    gap: 60px 20px;
  }
  
  .projects-item {
  flex-basis: calc((100% - 20px) /2) ;
  }
  
  .projects-img {
  width: 100%;
  }
  
  .projects-subtitle {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-top: 25px;
  
  }
  
  .projects-text {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    width: 114px;
  }
  
  .projects-btn {
    border-radius: 100px;
  background: var(--backggound-coor);
  width: 70px;
  height: 70px;
  border: none;
  background-image: url(../image/ritht.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-top: 25px;
  }
  