/* reviews */

.reviews{
  padding-top: 139px;
}

.reviews-box{
  border-radius: 70px;
  background: var(--backggound-coor);
  padding-bottom: 121px;
  padding-top: 103px;
}

.reviews-title{
font-size: 45px;
line-height: 1.3;
letter-spacing: 0.22px;
text-align: center;
width: 479px;
display: flex;
margin-left: auto;
margin-right: auto;
}

.reviews-items{
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 47px;
}

.reviews-item{
border-radius: 30px;
background: #FFF;

padding-bottom: 45px;
padding-top: 50px;
padding-left: 35px;
}

.reviews-item:nth-child(1){
padding-right: 75px;
}

.reviews-item:nth-child(2){
padding-right: 63px;
}

.reviews-item:nth-child(3){
padding-right: 45px;
}

.reviews-boxs{
  display: flex;
}

.reviews-minibox{
  margin-left: 20px;
}

.reviews-subtitle{
font-size: 25px;
line-height: 1.5;
letter-spacing: 0.22px;
}

.reviews-address{
  color: var(--text-color);
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.22px;
}

.reviews-text{
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.22px;
width: 244px;
margin-top: 25px;
}
