/*  */

.trademark{
  padding-top: 35px;
  padding-bottom: 36px;
}

.trademark-text{
text-align: center;
font-size: 22px;
line-height: 1.5;
letter-spacing: 0.22px;
}

.trademark-span{
  color: var(--mini-text-color);
}