/* <!-- в цій секції ми кажемо що заказуйте у нас --> */

.we-box{
  display: flex;
}

.we-title{
font-size: 50px;
line-height: 1.3;
letter-spacing: 0.22px;
width: 450px;
margin-bottom: 42px;
margin-top: 40px;
}

.we-text{
  font-size: 22px;
  line-height: 1.5; 
  letter-spacing: 0.22px;
width: 531px;
margin-bottom: 40px;
margin-right: 107px;
}

.we-boxs{
  display: flex;
  align-items: center;
}

.we-minibox{
  margin-left: 20px;
}

.we-link{
  width: 94px;
  height: 94px; 
  border-radius: 50%; 
  background-color: var(--backggound-coor); 
  background-image: url(../image/tel.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex
}

.we-image{
  width: 34px; 
  height: 34px;
}

.we-tel{
  color: var(--text-color);
font-size: 24px;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.we-subtext{
  color: var(--text-color);
font-size: 22px;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.we-btn{
  border-radius: 18px;
border: 2px solid var(--max-text-color);
background: var(--max-text-color);
color: var(--button-text-color);
font-size: 18px;
line-height: 1.2;
letter-spacing: 0.72px;
padding: 21px 67px 23px 34px;
margin-top: 50px;
}
